#error {
    text-align: left;
}

.errorItem {
}

#stack_trace {
    text-align: left;
}

.fileInfo {
    margin: 0px;
}

td {
    padding: 1px;
}

tr:nth-of-type(odd) {
    background-color: paleturquoise;
}

.codestyle {
    margin: 0 0 0px;
}