<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <style>
  tr:hover td{
	background: darkslateblue;
  }
</style>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jerry</title>
  <script type="text/javascript" src="/dist/main.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
  <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body style="background-color: #253138">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" style="font-weight: bold;" href="/">Jerry</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
		<li>
		  <img id='loading' th:src="@{/images/loading.gif}" style="display: none;"/>
		</li>
		<li class="active"><a href="/">Home</a></li>
		<li>
		  <div class="dropdown">
			<button that="setting" cmd="dropDowns" class="dropbtn">Options</button>
			<div id="options" class="dropdown-content">
			  <div style="padding-bottom: 5px;">
				<span class="switchHeader">ACCESS</span>
				<label class="switch">
				  <input id="accessCheck" type="checkbox" that="setting" cmd="onToggleEvent">
				  <span class="slider"></span>
				</label>
			  </div>
			  <div style="padding-bottom: 5px;">
				<span class="switchHeader">ERROR</span>
				<label class="switch">
				  <input id="errorCheck" type="checkbox" that="setting" cmd="onToggleEvent">
				  <span class="slider"></span>
				</label>
			  </div>
			  <div style="padding-bottom: 5px;">
				<span class="switchHeader">LOGS</span>
				<label class="switch">
				  <input id="logCheck" type="checkbox" that="setting" cmd="onToggleEvent">
				  <span class="slider"></span>
				</label>
			  </div>
			  <div style="padding-bottom: 5px;">
				<span class="switchHeader">Stacks</span>
				<label class="switch">
				  <input id="libCheck" type="checkbox" that="setting" cmd="onToggleEvent">
				  <span class="slider"></span>
				</label>
			  </div>
			  <div style="padding-bottom: 5px;">
				<span class="switchHeader" style="width: 40%;">RANGE</span>
				<input id='codeRange' type="number" style="width: 50%;" min="1" max="15" value="5">
			  </div>
			</div>
		  </div>
		</li>
		<li><a href="/setting">Setting</a></li>
	  </ul>
	</div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
	<div class="main">
	  <div class="row" style="margin-bottom: 0px;">
		<div class="col-xl-3 col-md-3 card_items container_items">
		  <div class="card-box" style="height: 149px">
			<h4 class="container_headers header-title mt-0 m-b-30">USAGE</h4>
			<div class="widget-box-2" style="width: 50%; float: left;">
			  <div class="widget-detail-2" style=" height: 112px;">
				<h5 class="mb-0" style="margin-top: 10px; font-weight: bold; color: beige;">CPU/MEMORY(%)</h5>
				<div id="usage" style="float: left; font-size: 40px; color: #F8F8F2; font-weight: bold;"></div>
			  </div>
			</div>
			<div class="widget-box-2" style="width: 50%; float: right;">
			  <div class="widget-detail-2" style=" height: 112px;">
				<h5 class="mb-0" style="margin-top: 10px; font-weight: bold; color: beige;">VERSION/BRANCH</h5>
				<div id="infos" style="float: left; font-size: 25px; color: #F8F8F2; font-weight: bold; line-height: 30px;"></div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-xl-3 col-md-3 card_items container_items table-responsive" style="max-width: 49%; width: 49%; height: 215px">
		  <div class="card-box">
			<h4 class="container_headers header-title mt-0 m-b-30">ACCESS LOGS</h4>
			<table id="accessLogs" class="table table-striped">
			</table>
		  </div>
		</div>
		<div class="col-xl-3 col-md-3 card_items container_items" style="height: 215px;">
			<h4 class="container_headers header-title mt-0 m-b-30" style="margin-bottom: 0px;">HTTP STATUS CODES</h4>
			<canvas id="canvas" class="chartjs-render-monitor" style="display: block; height: 190px;"></canvas>
		</div>
	  </div>

	  <div class="row" style="margin-top: 15px">
		<div class="col-xs-5 table-responsive container_items" style="margin-bottom: 0px; height: 300px;">
		  <h4 class="container_headers header-title mt-0">ERROR LOGS</h4>
		  <table id="error" class="table table-striped">
		  </table>
		</div>
		<div id='stack_trace' class="col-xs-7 container_items" style="width: 57%; margin-left: 15px; background-color: #2F3E47;">
		  <h4 class="container_headers header-title mt-0">Please select error log in table</h4>
		</div>
	  </div>
	  </div>

	  <div class="table-responsive container_items" style="height: 550px; padding-left: 16px; margin-left: 25px; margin-right: 25px;">
		<h4 class="container_headers header-title mt-0">LOGS</h4>
	  <table id="logs" class="table table-striped">
		<tbody></tbody>
	  </table>
	  </div>
	</div>
  </div>
</div>

<script type="text/javascript" th:inline="javascript">
	if (!window._info) {
		window._info = {};
	}
	_info.sourcePackage = [[${sourcePackage}]];
</script>
</body>
</html>
