<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <style>
  tr:hover td{
    background: #45E1E8;
  }
</style>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jerry</title>
  <script type="text/javascript" src="/src/jquery.3.3.1.js"></script>
  <script type="text/javascript" src="/src/parser.js"></script>
  <script type="text/javascript" src="/src/renderer.js"></script>
  <script type="text/javascript" src="/src/sockjs.min.js"></script>
  <script type="text/javascript" src="/src/stomp.js"></script>
  <script type="text/javascript" src="/src/server.js"></script>
  <script type="text/javascript" src="/src/setting.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
  <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body style="background-color: #253138">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="font-weight: bold;" href="/network">Jerry</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/info">Info</a></li>
        <li><a href="/setting">Setting</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="main">
      <div class="row" style="margin-bottom: 0px;">
        <div class="col-xl-3 col-md-3 card_items container_items">
          <div class="card-box">
            <h4 class="container_headers header-title mt-0 m-b-30">Daily Sales</h4>
            <div class="widget-box-2">
              <div class="widget-detail-2">
                <span class="badge badge-pink badge-pill pull-left m-t-20">32% <i class="mdi mdi-trending-up"></i> </span>
                <h2 class="mb-0"> 158 </h2>
                <p class="text-muted m-b-25">Revenue today</p>
              </div>
              <div class="progress progress-bar-pink-alt progress-sm mb-0">
                <div class="progress-bar progress-bar-pink" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                  <span class="sr-only">77% Complete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 card_items container_items">
          <div class="card-box">
            <h4 class="container_headers header-title mt-0 m-b-30">Daily Sales</h4>
            <div class="widget-box-2">
              <div class="widget-detail-2">
                <span class="badge badge-pink badge-pill pull-left m-t-20">32% <i class="mdi mdi-trending-up"></i> </span>
                <h2 class="mb-0"> 158 </h2>
                <p class="text-muted m-b-25">Revenue today</p>
              </div>
              <div class="progress progress-bar-pink-alt progress-sm mb-0">
                <div class="progress-bar progress-bar-pink" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                  <span class="sr-only">77% Complete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 card_items container_items">
          <div class="card-box">
            <h4 class="container_headers header-title mt-0 m-b-30">Daily Sales</h4>
            <div class="widget-box-2">
              <div class="widget-detail-2">
                <span class="badge badge-pink badge-pill pull-left m-t-20">32% <i class="mdi mdi-trending-up"></i> </span>
                <h2 class="mb-0"> 158 </h2>
                <p class="text-muted m-b-25">Revenue today</p>
              </div>
              <div class="progress progress-bar-pink-alt progress-sm mb-0">
                <div class="progress-bar progress-bar-pink" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                  <span class="sr-only">77% Complete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 card_items container_items">
          <div class="card-box">
            <h4 class="container_headers header-title mt-0 m-b-30">Daily Sales</h4>
            <div class="widget-box-2">
              <div class="widget-detail-2">
                <span class="badge badge-pink badge-pill pull-left m-t-20">32% <i class="mdi mdi-trending-up"></i> </span>
                <h2 class="mb-0"> 158 </h2>
                <p class="text-muted m-b-25">Revenue today</p>
              </div>
              <div class="progress progress-bar-pink-alt progress-sm mb-0">
                <div class="progress-bar progress-bar-pink" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                  <span class="sr-only">77% Complete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 15px">
        <div class="col-xs-5 table-responsive container_items" style="margin-bottom: 0px; height: 350px;">
          <h4 class="container_headers header-title mt-0">ErrorLogs</h4>
          <table id="error" class="table table-striped">
            <tbody>
            </tbody>
          </table>
        </div>
        <div id='stack_trace' class="col-xs-6 container_items" style="margin-left: 80px;">
          <h4 class="container_headers header-title mt-0">Please select error log in table</h4>
          <details id="ethernetContents" style="display: none"></details>
          <details id="ipContents" style="display: none"></details>
          <details id="transport" style="display: none"></details>
          <details id="dumpContents" style="display: none"></details>
        </div>
      </div>
      </div>

      <div class="table-responsive container_items" style="height: 400px; padding-left: 16px; margin-left: 25px; margin-right: 25px;">
        <h4 class="container_headers header-title mt-0">Logs</h4>
      <table id="logs" class="table table-striped">
        <tbody></tbody>
      </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" th:inline="javascript">
    if (!window._info) {
      window._info = {};
    }
    _info.sourcePackage = [[${sourcePackage}]];
    _info.errorId = setInterval(function () {
      parserError.start();
    }, 2000);
    connect();

    setting.onToggleParseEvent();
    setting.onToggleErrorEvent();
</script>
</body>
</html>
