<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <style>
  tr:hover td{
	background: darkslateblue;
  }
</style>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jerry</title>
  <script type="text/javascript" src="/src/jquery.3.3.1.js"></script>
  <script type="text/javascript" src="/src/sockjs.min.js"></script>
  <script type="text/javascript" src="/src/stomp.js"></script>
  <script type="text/javascript" src="/src/setting.js"></script>
  <script type="text/javascript" src="/src/renderer.js"></script>
  <script type="text/javascript" src="/src/action.js"></script>
  <script type="text/javascript" src="/src/clientConfig.js"></script>
  <script type="text/javascript" src="/src/theme.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
  <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body style="background-color: #253138">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" style="font-weight: bold;" href="/">Jerry</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
		<li>
		  <img id='loading' th:src="@{/images/loading.gif}" style="display: none;"/>
		</li>
		<li><a href="/">Home</a></li>
		<li>
		  <div class="dropdown">
			<button onclick="setting.dropDowns()" class="dropbtn">Options</button>
			<div id="options" class="dropdown-content">
			  <div style="padding-bottom: 5px;">
				<span class="switchHeader">ACCESS</span>
				<label class="switch">
				  <input id="accessCheck" type="checkbox" onclick="setting.onToggleAccessEvent()">
				  <span class="slider"></span>
				</label>
			  </div>
			  <div style="padding-bottom: 5px;">
				<span class="switchHeader">ERROR</span>
				<label class="switch">
				  <input id="errorCheck" type="checkbox" onclick="setting.onToggleErrorEvent()">
				  <span class="slider"></span>
				</label>
			  </div>
			  <div style="padding-bottom: 5px;">
				<span class="switchHeader">LOGS</span>
				<label class="switch">
				  <input id="logCheck" type="checkbox" onclick="setting.onToggleLogEvent()">
				  <span class="slider"></span>
				</label>
			  </div>
			  <div style="padding-bottom: 5px;">
				<span class="switchHeader">Stacks</span>
				<label class="switch">
				  <input id="libCheck" type="checkbox" onclick="setting.onToggleLibEvent()">
				  <span class="slider"></span>
				</label>
			  </div>
			  <div style="padding-bottom: 5px;">
				<span class="switchHeader" style="width: 40%;">RANGE</span>
				<input id='codeRange' type="number" style="width: 50%;" min="1" max="15" value="5">
			  </div>
			</div>
		  </div>
		</li>
		<li class="active"><a href="/setting">Setting</a></li>
	  </ul>
	</div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
	<button class="set_btn" onclick="action.reset()">Reset</button>
	<button class="set_btn" onclick="action.apply()">Apply</button>
	<table id="settingTable" class="table table-stripted">
	</table>
  </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
  if (!window._info) {
	window._info = {
	  defaultEnvs: {}
	};
  }
  action.setDefaultEnvs([[${data}]]);
  renderer.drawSetting([[${data}]]);
</script>
</html>
