<textarea id="langDropdown" class="hide">
		  <div class="dropdown">
			<button that="lang" cmd="dropDowns" class="dropbtn">Languages</button>
			<div id="options" class="dropdown-content">
			  <div style="padding-bottom: 5px;">
				<span class="switchHeader">한국어</span>
				<label class="switch">
				  <input id="ko" type="checkbox" that="setting" cmd="onToggleEvent">
				  <span class="slider"></span>
				</label>
			  </div>
				<div style="padding-bottom: 5px;">
				<span class="switchHeader">English</span>
				<label class="switch">
				  <input id="en" type="checkbox" that="setting" cmd="onToggleEvent">
				  <span class="slider"></span>
				</label>
			  </div>
			</div>
		  </div>
</textarea>